*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.portfolio{
    text-align: center;
    margin: 10px ;
    padding-top: 40px;
}

.protItems{
        padding: 40px;
        margin: 30px 350px;
}


.protItem{
    text-align: center;
    width: calc((100% - 10px) / 3);
    float: left;
    margin-right: 5px;
    padding: 20px;

}

img{
    width: 100%;
    display: block;

}

.lastItem{
    margin-right: 0;
}

.clearFix{
    clear: left;
}
 p{
    color: dimgray;
    font-style: italic;
    font-size: 15px;
 }

 h3{
    color: rgb(50, 52, 54);
    font-family:Arial, Helvetica, sans-serif;
    padding-top: 15px;
    font-size: 20px;

}
h2{
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
}